In [58]:
import pandas as pd
import joblib
from pathlib import Path

In [59]:
df_train = pd.read_csv('../labelled-csv/train.csv')
df_train.head(2)

                                         filepath classification
0                                  ARDSSevere.png       negative
1  acute-respiratory-distress-syndrome-ards-1.jpg       negative

In [60]:
df_train.groupby(['classification']).count()

                filepath
classification
negative           13992
positive           15994

In [61]:
import numpy as np
from sklearn.model_selection import train_test_split

In [62]:
labels =  df_train['classification']

In [63]:
X_train, X_test, y_train, y_test = train_test_split(
    df_train, labels, test_size=0.30, random_state=0, stratify=labels)

In [64]:
X_test.shape

(8996, 2)

In [65]:
df_train=X_test.copy()

In [66]:
labels =  df_train['classification']

In [67]:
val_per = 0.10
remaning = 1-val_per
test_per_req = 0.10
test_per = test_per_req/remaning
print(test_per)

0.11111111111111112

In [68]:
X_train, X_val, y_train, y_val = train_test_split(
    df_train, labels, test_size=val_per, random_state=0, stratify=labels)

In [69]:
X_train.shape

(8096, 2)

In [70]:
X_train.groupby(['classification']).count()

                filepath
classification
negative            3778
positive            4318

In [71]:
X_val.shape

(900, 2)

In [72]:
X_val.groupby(['classification']).count()

                filepath
classification
negative             420
positive             480

In [73]:
df_train=X_train.copy()

In [74]:
labels =  df_train['classification']

In [75]:
df_train.shape

(8096, 2)

In [76]:
X_train, X_test, y_train, y_test = train_test_split(
    df_train, labels, test_size=test_per, random_state=0, stratify=labels)

In [77]:
X_train.shape

(7196, 2)

In [78]:
X_test.shape

(900, 2)

In [79]:
X_val.shape

(900, 2)

In [80]:
X_train.groupby(['classification']).count()

                filepath
classification
negative            3358
positive            3838

In [81]:
X_val.groupby(['classification']).count()

                filepath
classification
negative             420
positive             480

In [82]:
X_test.groupby(['classification']).count()

                filepath
classification
negative             420
positive             480

In [83]:
newpath = Path('train.csv')
X_train.to_csv(newpath, index=False)

In [84]:
newpath = Path('val.csv')
X_val.to_csv(newpath, index=False)

In [85]:
newpath = Path('test.csv')
X_test.to_csv(newpath, index=False)